This is the system {{ ansible_hostname }}
Today it is {{ ansible_date_time.date }}
!!!Authorized access only!!!
For getting access, please contact {{ system_owner }}
Have a nice day or not so nice(:
here is a new line
